.points {
  position: absolute;
  bottom: 15px;
}
.level {
  background:transparent;
}
.level_number {
  background: transparent;
  text-align: right;
}
.times {
  color: #fcc89a;
}
.levelIcons {
  float: right;
}
.blue {
  color: #1d71b8;
}

.plan_height {
  height: 500px;
}

.gray {
  background-color: #e5e5e5;
}

.number {
  //background: #fbfbfc;
  background: transparent;
  text-align: right;
}